[Unit]
Description=Reference nginx-gunicorn-flask API service
After=network.target

[Service]
User=USER
Group=nginx
WorkingDirectory=/var/sockets
ExecStart=/bin/bash -c "cd /home/USER/service&&source venv/bin/activate&&gunicorn --workers 3 --bind unix:/var/sockets/service.sock -m 007 app:app >> service.log"

[Install]
WantedBy=multi-user.target